<%
issues = Issue.find(:all, :order=>"id DESC", :conditions =>
                     ["project_id=:p",{:p=>params[:prj]}])
issues.each do |issue|
issueHtml = issue.closed? ? "<del>"+issue.to_s+"</del>" : issue.to_s;
%>
<div style="font-size:14px;">
<a onclick="JavaScript:ticket_selected('<%=issue%>');" href="#">[<%=l(:button_apply)%>]</a>
<%=issueHtml%>
<a onclick="JavaScript:ticket_check('<%=url_for(:controller=>"issues", :action=>"show", :id=>issue.id)%>');" href="#">？</a>
<br>
</div>
<%end%>
